* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body {
    background-image: url(../img/sfondo.jpg);
    background-size: cover;
}

header > h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    text-align: center;
    padding: 50px;
    font-size: 80px;
}

/* main */

.introduzione-sito {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 20px;
}

main {
    width: 1200px;
    margin: auto;
}

main::after {
    content: "";
    display: block;
    clear: both;
}

/* casella artista singolo */
.song {
    float: left;
    background-color: black;
    color: white;
    margin-top: 30px;
    width: 30%;
    border-radius: 50px;
}

.song::after {
    content: "";
    display: block;
    clear: both;
}

img {
    float: left;
    height: 120px;
    width: 120px;
}

.info {
    float: left;
    margin: 15px;
}

.center {
    margin-left: calc(100% - 95%);
    margin-right: calc(100% - 95%);
}
